include ../include/header.pug
div(class="container mt-5")
  h1=title
  form(action='/products/add' method='POST')
      | title: 
      input(type='text' class="form-control" name='title' value='')
      |          price: 
      input(type='text' class="form-control" name='price' value='')
      |          imagen: 
      input(type='text' class="form-control" name='imagen' value='')
      input(type='submit' class="btn btn-success" value='Submit')